<div class="container">

  <!-- Header -->
  <div class="row row-full">

    <div class="header gr-12">

      <div class="row">

        <div class="gr-8 push-2" style="background-color:red">

      <!-- Author -->
      <div class="header__author">
        <h1>Laurent Schaffner</h1>
      </div>

      <!-- Summary -->
      <div class="header__summary">
        Code &amp; Stuff
      </div>

      <!-- Links -->
      <div class="header__links">
        Link 1
        Link 2
      </div>

    </div>

    </div>

    </div>

  </div>

  <!-- Content -->
  <div class="row">

      <!-- Content -->
      <div class="gr-12">

        {{#each model.links as |link|}}

        <div class="row">
          <h3><a href="{{link.url}}">{{link.title}}</a></h3>
        </div>

        {{/each}}

      </div>


  </div>
</div>
