<div class="resume-header">

  <div class="gr-3 resume-header__image">
    {{gravatar-image email="laurent.schaffner.code@gmail.com" class="links__photo" size="200"}}
  </div>

  <div class="gr-9 resume-header__title">
      Experienced Ruby on Rails Developer<br />
      Experienced NodeJS Developer<br />
      Sr. Laravel Developer<br /><br />

      Phone: +49 1575 8791387<br />
      E-Mail: laurent.schaffner.jobs@gmail.com<br />
  </div>

</div>

<div class="resume">

  <!-- Title -->
  <h1>Summary</h1>

  <div class="resume__date">
    From XXX to XXX
  </div>

  <!-- Description -->
  <p>
    I’m a lifelong student first and foremost. I’m always trying to improve myself and learn new things. I’m interested in various fields, mostly coding, business, marketing, psychology linguistic and anthropology.<br /><br />

    I am a seasoned programmer with more than 10 years in SaaS and am well versed in many languages. I try my best to thoroughly understand the technical challenges of each project going in and then choose the most effective platform / language to see it through. Recently most of the projects I’ve worked on have been based in Ruby on Rails, NodeJS and Laravel. I write clean readable and scalable code.<br /><br />

    For the majority of my career I have been in a back-end  position. I’m good at dealing with the server side and know the importance of being able to adapt myself to any given situation / technology. I pride myself in being able to think through complex systems, anticipate problems, and fix them before they happen.<br /><br />

  </p>

  <hr />

  <!-- Title -->
  <h1>Summary</h1>

  <div class="resume__date">
    From XXX to XXX
  </div>

  <!-- Description -->
  <p>
    Experience or something
  </p>

  <!-- Bottom -->
  <div class="resume__bottom">
      <a href="#">Read my reference</a>
  </div>

</div>
