<div class="resume-header">

  <div class="row">

    <div class="gr-3 resume-header__image">
      {{gravatar-image email="laurent.schaffner.code@gmail.com" class="resume-header__photo"}}
    </div>

    <div class="gr-9 resume-header__title">
      <h2>Computer engineer</h2>
        Experienced Ruby on Rails Developer<br />
        Experienced NodeJS Developer<br />
        Sr. Laravel Developer<br /><br />

        Phone: +49 1575 8791387 (Germany)<br />
        E-Mail: <a href="mailto:laurent.schaffner.jobs@gmail.com">laurent.schaffner.jobs@gmail.com</a><br />
    </div>

  </div>

  <hr />

</div>

<div class="resume">

  <div class="resume__summary">

    <!-- Title -->
    <h1>Summary</h1>

    <!-- Description -->
    <p>
      I’m a lifelong student first and foremost. I’m always trying to improve myself and learn new things. I’m interested in various fields, mostly coding, business, marketing, psychology linguistic and anthropology.<br /><br />

      I am a seasoned programmer with more than 10 years in SaaS and am well versed in many languages. I try my best to thoroughly understand the technical challenges of each project going in and then choose the most effective platform / language to see it through. Recently most of the projects I’ve worked on have been based in Ruby on Rails, NodeJS and Laravel. I write clean readable and scalable code.<br /><br />

      For the majority of my career I have been in a back-end  position. I’m good at dealing with the server side and know the importance of being able to adapt myself to any given situation / technology. I pride myself in being able to think through complex systems, anticipate problems, and fix them before they happen.<br /><br />
    </p>

  </div>

  <hr />

  <div class="resume__skill-sets">

  <!-- Title -->
  <h1>Skill Sets</h1>

  <!-- Description -->
  <ol>Ruby on Rails stack <span class="resume__detail">3+ years experience</span>
    <li>Experience with Rails Engines, Gems creation</li>
    <li>Experience with RSpec, Capybara, FactoryGirl</li>
    <li>Experience with Capistrano</li>
    <li>Good with HAML / ERB</li>
  </ol>

  <ol>NodeJS stack <span class="resume__detail">2+ years experience</span>
    <li>Experience with ExpressJS, SailsJS, Meteor / Iron and Ionic</li>
    <li>Managed SocketIO on several projects</li>
    <li>Deal with Cordova</li>
  </ol>

  <ol>Laravel stack <span class="resume__detail">4+ years experience</span>
    <li>Experience with Laravel 4.2 and Laravel 5</li>
    <li>Good with Blade</li>
    <li>Used several PHP frameworks prior to Laravel such as CodeIgniter, PhalconPHP, SlimFramework (10+ years experience)</li>
  </ol>

  <ol>JavaScript <span class="resume__detail">10+  years experience</span>
    <li>Versed in CoffeeScript</li>
    <li>Versed in using jQuery</li>
    <li>Versed in using EmberJS and GothamJS</li>
    <li>Bases in TypeScript</li>
  </ol>

  <ol>CSS <span class="resume__detail">10+  years experience</span>
    <li>Versed  in SASS / LESS</li>
    <li>Experience in various grid systems (Bootstrap, Gridle)</li>
    <li>Enthousiast of BEM via CSStyle</li>
    <li>Experience with Brunch</li>
  </ol>

  <ol>HTML / XML <span class="resume__detail">10+ years experience</span></ol>

  <ol>Databases <span class="resume__detail">10+ years experience</span>
    <li>Experience with MySQL / PostgreSQL</li>
    <li>Experience with MongoDB  mostly through Mongoose and MongoId</li>
    <li>Use Active Record and other ORMs</li>
    <li>Bases in ElasticSearch</li>
  </ol>

  <ol>Managing AJAX based websites</ol>

  <ol>API construction <span class="resume__detail">5+ years experience</span>
    <li>Large experience in RESTful API architecture / construction</li>
    <li>Managed external APIs structure protected via keys / tokens</li>
    <li>Managed internal APIs and secured webhook communications</li>
  </ol>

  <ol>Git version control <span class="resume__detail">5+ years experience</span></ol>

  <ol>Payments solution <span class="resume__detail">4+ years experience</span>
    <li>Various experiences with Stripe payment (3+ years)</li>
    <li>Marketplace architecture with Wirecard (1 year)</li>
  </ol>


  <ol>System Administrator <span class="resume__detail">6+ years experience</span>
    <li>CLI / SSH control, setup a Linux / Unix server without problem</li>
    <li>Experience with Apache and NGinx</li>
    <li>Experience with SSLs certificates</li>
  </ol>



  <ol>Photoshop / Illustrator : been using  here and there for several years, able to edit vectorial resources and design mockups, used to draw vectorial characters to build flash video games back in the days.</ol>

  </div>

  <hr />

  <!-- Title -->
  <h1>Bla bla</h1>

  <div class="resume__detail">
    From XXX to XXX
  </div>

  <!-- Description -->
  <p>
    Experience or something
  </p>

  <!-- Bottom -->
  <div class="resume__bottom">
      <a href="#">Read my reference</a>
  </div>

</div>
