<div class="resume">
  <!-- Title -->
  <h1>Summary</h1>

  <div class="resume__date">
    From XXX to XXX
  </div>

  <!-- Description -->
  <p>
    I did a lot of shit
  </p>

  <!-- Bottom -->
  <div class="resume__bottom">
      <a href="#">Read my reference</a>
  </div>

</div>
