+component(header)

  font-family: sans-serif
  background-color: $color-dark-background
  color: $color-white-text
  padding-top: 5em
  -webkit-font-smoothing: antialiased // global ?
  padding-left: 1em
  height: 100%

  +part(author)
    text-transform: uppercase

  +part(summary)
    font-weight: 300
    color: $color-grey
    font-size: 1.5em

  +part(links)
    font-size: 1em
